<%- include('partials/admin-header') %>


<section class="section-admin-order">
  <div class="container">
    <div class="admin-order-nav">
      <div class="admin-current-order admin-btn-active">Current orders</div>
      <div class="admin-completed-order admin-btn-inactive">
        Completed orders
      </div>
    </div>
  </div>
</section>

<section class="section-admin-menu-items">
  <div class="container">


    <div class="admin-order-container">

      <% for(i=0; i<orders.length; i++) { %>

      <div class="admin-order-items-component">
        <div class="admin-order-number">1</div>
        <div class="admin-order-item-container">
          <div class="admin-order-delivery-information">
            <div class="admin-order-delivery-container">
              <div class="admin-order-delivery-name-date-items">
                <div class="admin-order-delivery-name"><%= orders[i].customer_name %></div>
                <div class="admin-order-delivery-time">
                  <%= orders[i].order_time.toString() %>
                </div>
                <div class="admin-order-delivery-items">

                  <% for(j=0; j<orders[i].order_items.length; j++) { %>
                  <div>(<%= orders[i].order_items[j].quantity %>) <%= orders[i].order_items[j].menu_name  %></div>
                  <% } %>

                </div>
              </div>
              <div class="admin-order-delivery-notes">
                <span>Order notes:</span>
                <div>
                  <%= orders[i].order_notes %>
                </div>
              </div>
              <div class="admin-order-delivery-address">
                <span> Delivery information : </span>
                <div><%= orders[i].delivery_address %></div>
                <div><%= orders[i].phone_number %></div>
                <div><%= orders[i].email %></div>
                <div><%= orders[i].delivery_date %></div>
                <div><%= orders[i].delivery_time %></div>
              </div>
              <div class="admin-order-delivery-price">
                <div class="admin-order-delivery-subtotal">
                  <div>Subtotal:</div>
                  <div><%= orders[i].total_price %></div>
                </div>
                <div class="admin-order-delivery-cost">
                  <div class="admin-order-delivery-cost-link" onclick="open_deliveryCostModal(<%= orders[i].id %>)">Delivery cost:</div>
                  <div id="delivery_cost_order_id_<%= orders[i].id %>"><%= orders[i].delivery_cost %></div>
                </div>
                <div class="admin-order-delivery-total">
                  <div>Total:</div>
                  <span><%=  orders[i].final_price  %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="admin-order-invoice">
            <a href="/admin/orders/invoice/<%= orders[i].id %>" target="_blank">Review invoice</a>
            <div>Download invoice</div>

          </div>
          <div class="admin-order-status">
            <h4>Order Status</h4>
            <div class="admin-order-status_finalizing-order status-grid">
              <input type="checkbox" id="finalizing" name="finalizing" />
              <label for="finalizing">Finalizing order</label>
            </div>
            <div class="admin-order-status_invoice status-grid">
              <input type="checkbox" id="invoice" name="invoice" />
              <label for="invoice">Invoice sent</label>
            </div>
            <div class="admin-order-status_payment-prepare status-grid">
              <input type="checkbox" id="payment-prepare" name="payment-prepare" />
              <label for="payment-prepare">Payment received and preparing order</label>
            </div>
            <div class="admin-order-status_delivering status-grid">
              <input type="checkbox" id="delivering" name="delivering" />
              <label for="delivering">Delivering order</label>
            </div>
            <div class="admin-order-status_complete status-grid">
              <input type="checkbox" id="complete" name="complete" />
              <label for="complete">Complete order</label>
            </div>
          </div>
        </div>
      </div>

      <% } %>

    </div>
  </div>

  <section class="orders-modal">

    <div class="admin-order-delivery-cost-modal" id="delivery_cost_modal">
      <div class="admin-order-delivery-cost-modal-content">
        <form id="delivery_cost_form" class="admin-delivery-cost-form" method="post" action="/admin/update_delivery_cost/order_id">
          <div class="delivery-cost-layout-1">Enter delivery cost:</div>
          <input class="delivery-cost-layout-2 " type="text" id="delivery_cost_input" value="" name="delivery_cost">
          <button action="submit" class="store-status-layout-5">Update</button>
          <a onclick="close_deliveryCostModal()" class="store-status-layout-6">Cancel</a>
        </form>


      </div>
    </div>
  </section>
  <%- include('partials/admin-footer') %>