<%- include('partials/admin-header') %>

<section class="section-general-header">
  <div onclick="open_editStoreStatusModal()" class="container">
    <div class="general-menu-header">
      <div class="shop-header-text">
        When will your donut shop be open next?
      </div>
      <div class="shop-header-time admin-text-bold" id="current_store_status">
        <%= storeStatusDate %>
      </div>

    </div>
  </div>
</section>

<section class="section-admin-menu">
  <div class="container">
    <div class="admin-menu-nav">
      <div class="admin-current-menu admin-btn-active">
        <a id="current_menu_tab" onclick="showCurrentMenu_route()">Current menu items</a>
      </div>
      <div class="admin-inactive-menu admin-btn-inactive">
        <a id="inactive_menu_tab" onclick="showInactiveMenu_route()">Inactive menu items</a>
      </div>
    </div>
  </div>
</section>

<section class="section-admin-menu-items">
  <div class="container">
    <div class="admin-menu-item-container">

      <% menuItemInfo.forEach((info) => { %>

      <div class="admin-menu-items-component">
        <div class="admin-menu-number"></div>
        <div class="admin-menu-item">
          <div class="admin-menu-item-name" id="menu_name_<%= info.id %>"><%= info.menu_name %></div>
          <div class="admin-menu-item-description" id="menu_description_<%= info.id %>">
            <%= info.menu_description %>
          </div>
          <div class=" admin-menu-item-price-number">
            <div class="admin-menu-item-price" id="menu_price_<%= info.id %>"><%= info.menu_price %></div>
            <div class="admin-menu-item-number-text">menu item no.</div>
            <div class="admin-menu-item-number"><%= info.id %></div>
          </div>
          <div class="admin-menu-item-image-text">Image preview:</div>
          <div class="admin-menu-item-image-frame"></div>


          <div class="admin-menu-item-buttons">

            <button onclick="open_editModal(<%= info.id %>)" class="admin-menu-item-edit-btn">
              Edit
            </button>

            <button onclick="moveToInactive_route(<%= info.id %>)" class="admin-menu-item-move-inactive-btn">
              Move to inactive
            </button>
            <button onclick="delete_route(<%= info.id %>)" class="admin-menu-item-delete-btn">Delete</button>
          </div>
          <div class="admin-menu-item-image-upload">
            <button class="admin-menu-item-image-upload-btn">
              Upload new image
            </button>
          </div>
        </div>
      </div>

      <%})%>



    </div>
    <div class="admin-menu-add">
      <button onclick="toggle_visibility('popup-modal');" type="button" class="admin-menu-add-btn">+</button>
      <div class="admin-menu-add-text">Add new item</div>
    </div>
  </div>
</section>


<%- include('partials/admin-general-modals')%>


<%- include('partials/admin-footer')%>