<%- include("partials/order-header") %>

<section class="order-info">
  <div class="container">
    <div class="order-info-layout">

      <div class="order-info-logo-box">
        <img src="../img/cheatday_logo_2.png" class="order-info-logo" alt="Store logo" />
      </div>


      <div class="delivery-date-box">
        <div class="delivery-date-text text-main">
          <p class="date"><%= storeStatusDate %></p>
        </div>
      </div>
      <div class="order-description-info text-main">
        <p>
          We're sorry we missed you! We'll be open again soon, in the mean time do checkout our instagram for our latest vegan donuts. Stay tuned ~ feel free to chat us too!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-menu">
  <div class="container">
    <div class="menu-title">
      <h2>Menu</h2>
    </div>
    <div class="menu">
      <ul class="menu-container">

        <% menuItemInfo.forEach(info => { %>


        <li class="menu-items">
          <div class="menu-items-layout">
            <div class="menu-items-description">
              <h4 id="item_name_<%= info.id %>"><%= info.menu_name %></h4>
              <p>
                <%= info.menu_description %>
              </p>
            </div>
            <div class="menu-items-image">
              <div class="menu-items-image-frame">
                <img src="<%= info.menu_img_url %>" class="menu-items-image-pic" alt="Donut Preview" />
              </div>
            </div>
            <div class="menu-items-price" id="item_price_<%= info.id %>">
              <%= info.menu_price %>
            </div>

            <div class="menu-items-btn">

              <div class="items-order-menu-page">
                <div class="order-plus-minus-frame">

                </div>

              </div>
            </div>
        </li>

        <% }) %>


      </ul>
    </div>
  </div>
</section>



<%- include("partials/order-footer") %>