<%- include("partials/order-header") %>

<section class="order-info">
  <div class="container">
    <div class="order-info-layout">
      <!-- <div class="order-info-logo-box">
          <img
            src="../img/cheatday_logo_2.png"
            class="order-info-logo"
            alt="Store logo"
          />
        </div>
        <div class="order-info-description-box">
          <div class="delivery-date-box">
              <div
            
          </div>
          <div class="order-info-description">
            <p>test</p>
          </div>
        </div> -->

      <div class="order-info-logo-box">
        <img src="../img/cheatday_logo_2.png" class="order-info-logo" alt="Store logo" />
      </div>

      <div class="delivery-date-description text-main">
        <p>We are ready to make and deliver donuts on:</p>
      </div>

      <div class="delivery-date-box">
        <div class="delivery-date-text text-main">
          <p class="date"><%= storeStatusDate %></p>
        </div>
      </div>
      <div class="order-description-info text-main">
        <p>
          Please select our available donuts below along with your contact
          information, then submit the order form. Once received, we will
          confirm your order and and payment information.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-menu">
  <div class="container">
    <div class="menu-title">
      <h2>Menu</h2>
    </div>
    <div class="menu">
      <ul class="menu-container">

        <% menuItemInfo.forEach(info => { %>


        <li class="menu-items">
          <div class="menu-items-layout">
            <div class="menu-items-description">
              <h4 id="item_name_<%= info.id %>"><%= info.menu_name %></h4>
              <p>
                <%= info.menu_description %>
              </p>
            </div>
            <div class="menu-items-image">
              <div class="menu-items-image-frame">
                <img src="../img/donut_preview.jpeg" class="menu-items-image-pic" alt="Donut Preview" />
              </div>
            </div>
            <div class="menu-items-price" id="item_price_<%= info.id %>">
              <%= info.menu_price %>
            </div>

            <div class="menu-items-btn">

              <div class="items-order-menu-page">
                <div class="order-plus-minus-frame">

                  <div class="minus-btn">
                    <button onclick="removeItemFromCart(<%= info.id %>)">-</button>
                  </div>
                  <div class="items-quantity" id="item_quantity_<%= info.id %>">0</div>
                  <div class="plus-btn">
                    <button onclick="addItemToCart(<%= info.id %>)">+</button>
                  </div>

                </div>

                <!-- <div class="addbtn-frame">
                  <div class="addbtn-text">
                    <p>Add</p>
                  </div>
                </div> -->
              </div>
            </div>
        </li>

        <% }) %>


      </ul>
    </div>
  </div>
</section>

<section class="subtotal-checkout">
  <div class="container">
    <div class="subtotal-checkout-layout">
      <div class="subtotal-frame">
        <div class="subtotal-all-items">
          <div class="subtotal-all-text">
            <div>Subtotal:</div>
            <div class="subtotal_all_quantity" id="subtotal_items_quantity">0</div>
            <span>items</span>
          </div>
          <div class="subtotal-price" id="subtotal_items_price">

          </div>
        </div>

        <div class="subtotal-each-items" id="subtotal_items">

        </div>
      </div>

      <div class="checkoutbtn-frame">
        <div class="checkoutbtn">
          <p>Checkout</p>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include("partials/order-footer") %>