<%- include("partials/order-header") %>

<section class="section-review-items-delivery">
  <form action="/cart_review/<%= cartId %>" method="post">
    <div class="container">
      <div class="review-items-delivery-layout">
        <div class="items-delivery general-text">
          <div class="items-text">
            <p>Please review your donuts:</p>
          </div>
          <div class="items-layout">
            <div class="items-layout-quantity">
              <% cartItems.forEach(info => { %>
              <div class="items-order">
                <div class="item-name">(<%= info.quantity %>) <%= info.menu_name %></div>
                <div class="item-price"><%= info.each_subtotal %></div>
              </div>
              <% }) %>


            </div>
            <div class="items-layout-subtotal">
              <div class="items-subtotal-text">
                <p>Subtotal: <span><%= totalQuantity %></span> Items</p>
                <em>*excluding delivery cost</em>
              </div>
              <div class="items-subtotal-price"><span id="total-price"><%= totalPrice %></span>*</div>
              <input type="hidden" name="total_price" value="<%= totalPrice %>">

            </div>
          </div>
          <div class="delivery-info">
            <div class="delivery-info-text">
              <p>Please enter your delivery information:</p>
            </div>

            <div class="delivery-info-layout">
              <div class="delivery-info-form">
                <div class="form-full-name">
                  <input name="customer_name" type="text" placeholder="First and last name" value="<%= deliveryInfo.customer_name %>" />
                </div>
                <div class="form-delivery-address">
                  <textarea name="delivery_address" type="text" placeholder="Delivery Address (Street name, house number, city, zip code)"><%= deliveryInfo.delivery_address %></textarea>
                </div>
                <div class="form-whatsapp-phone-label">
                  <label for="phone">Whatsapp phone number:</label>
                </div>
                <div class="form-whatsapp-phone-input">
                  <input name="phone" type="text" placeholder="+1 867 736 5523" value="<%= deliveryInfo.phone_number %>" />
                </div>
                <div class="form-email-input-label">
                  <label for="email">Email address:</label>
                </div>
                <div class="form-email-input">
                  <input name="email" type="text" placeholder="Email address" value="<%= deliveryInfo.email %>" />
                </div>
                <div class="form-delivery-date-label">
                  <label for="delivery_date">Preferred delivery date:</label>
                </div>
                <div class="form-delivery-date-input">
                  <!-- <input name='delivery-time' type="time" placeholder="13:00" /> -->
                  <select name="delivery_date" id="delivery_date">
                    <option selected value="<%= deliveryInfo.delivery_date %>"> <%= deliveryInfo.delivery_date %></option>
                    <% deliveryDateOptions.forEach((info) => { %>
                    <option value="<%= info.order_dates %>"><%= info.order_dates %></option>
                    <% }) %>

                  </select>

                </div>
                <div class="form-delivery-time-label">
                  <label for="delivery_time">Preferred delivery time:</label>
                </div>
                <div class="form-delivery-time-input">
                  <!-- <input name='delivery-time' type="time" placeholder="13:00" /> -->
                  <select name="delivery_time" id="delivery-time">
                    <option selected value="<%= deliveryInfo.delivery_time %>"> <%= deliveryInfo.delivery_time %></option>
                    <option value="8:00">8:00</option>
                    <option value="9:00">9:00</option>
                    <option value="10:00">10:00</option>
                    <option value="11:00">11:00</option>
                    <option value="12:00">12:00</option>
                    <option value="13:00">13:00</option>
                    <option value="14:00">14:00</option>
                    <option value="15:00">15:00</option>
                    <option value="16:00">16:00</option>
                    <option value="17:00">17:00</option>
                    <option value="18:00">18:00</option>
                    <option value="19:00">19:00</option>
                    <option value="20:00">20:00</option>
                    <option value="21:00">21:00</option>
                  </select>

                </div>
                <div class="form-order-notes">
                  <textarea name="order_notes" type="text" placeholder="Order notes"><%= deliveryInfo.order_notes %></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-navigation">
          <button action='submit' class="btn-frame btn-red">
            Continue to review order
          </button>
          <div onclick="returnMenu_route()" class="btn-frame">
            <div class="return-menu-btn">
              Restart order
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>


<%- include("partials/order-footer") %>